/*========Base Layout=========*/

* {
    box-sizing: border-box;
}


body {
    margin-bottom: 30px;
    margin-top: 40px;
}

/*========Layout for the Search Box=========*/

.search-bar {
    padding: 16px;
    position: relative;
    left: 38%;
}

.search-bar .input {
    width: 200px;
    height: 20px;

}

/*========Layout for Input=========*/

input[type="text"] {
    background-color: #0000;
    padding: 4px;
    border-radius: 10px;
    width: 300px;
}

input[type="text"]::placeholder {
    font-style: italic;
    padding-left: 12px;
}

/*=========Photo Gallery Layout=========*/

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.photo-gallery img {
    padding: 25px;
}

/*========Photos of Lightbox========*/

.lb-image .lb-caption {
    text-align: center;
}

/*========Media Queries========*/

@media (min-width: 320px) {
    input[type="text"] {
        width: auto;
    }
}

@media (min-width: 768px) {
    input[type="text"] {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    input[type="text"] {
        width: 400px;
    }
}